.items {
    width: 400px;
    display: flex;
    justify-content: space-between;
    .item {
        background-color: #fff;
        color: #999;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        border: 3px solid #999;
        transition: 0.4s ease;
    }
}