body {
    margin: 20px;
    padding: 0;
}

.ceshi {
    min-width: 0;
    // width: 100%;
    display: flex;
    .container {
        margin-left: 20px;
        flex: 1;
        .header {
            display: flex;
            > span {
                white-space: nowrap;
                &.title {
                    flex: initial;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
        
    }
}

.border-image {
    width: 56px;
    height: 200px;
    border: 0px solid;
    border-image: url('./components//border-image//back.png');
    border-image-slice: 15 0 fill;
    border-image-width: 15px 0px;
}